/frontend/.next
/frontend/node_modules
/frontend/package-lock.json
/frontend/.env.local
/backend/.env
/backend/node_modules

/backend/kafka.pem
/backend/prisma/ca.pem
/backend/prisma/ca-certificate.crt
/call-server
/contact.csv

/flexi

/livekit/venv/
/livekit/__pycache__/
/livekit/.env